
# mCube start
config INPUT_MC34XX_I2C
 	tristate "mCube mc34xx 3-Axis accelerometer device with I2C bus"
 	depends on I2C
 	default y
	help
	  Say Y here if you have a mc3xxx device on the board and use I2C
	  communication, else say N.

	  To compile this driver as a module, choose M here.
# mCube end
