if INPUT_FINGERPRINT

config EGIS_FINGERPRINT
	tristate "config egis fingerprint"
	default n
	---help---
	  Say Y here if you want to take action when some keys are pressed;
	  
config ICNT_FINGERPRINT
	tristate "config chipone fingerprint"
	default n
	---help---
	  Say Y here if you want to take action when some keys are pressed;

config SILEAD_FINGERPRINT
	tristate "config silead fingerprint"
	default n
	---help---
	  Say Y here if you want to take action when some keys are pressed;

config FOCAL_FINGERPRINT
	tristate "config focaltech fingerprint"
	default n
	---help---
	  Say Y here if you want to take action when some keys are pressed;

endif
